<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div class="no-v-scroll">
      <mat-toolbar color="primary" class="matToolbar" style="flex: 0 0 60px;">Stations</mat-toolbar>
      <div style="overflow-y: auto;">
        <app-summary></app-summary>
        <!-- <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Stations
                  </mat-panel-title>
                  <mat-panel-description>   
                  </mat-panel-description>
              </mat-expansion-panel-header>
        <mat-nav-list>
          <app-sidebar></app-sidebar>
        </mat-nav-list>
        </mat-expansion-panel> -->
        <mat-nav-list>
          <app-sidebar></app-sidebar>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="matToolbar" style="flex: 0 0 60px;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Weather UOM</span>
      <span class="toolbar-spacer"></span>

      <mat-icon (click)="changePage(1)" class="toolbar-icon canclick" aria-hidden="false"
        aria-label="Example delete icon">select_all</mat-icon>
      <p class="canclick" (click)="changePage(1)">All Stations</p>

      <mat-icon (click)="changePage(3)" class="toolbar-icon canclick" aria-hidden="false"
        aria-label="Example delete icon">map</mat-icon>
      <p class="canclick" (click)="changePage(3)">Map</p>
<!-- 
      <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Example heart icon" *ngIf="!(isHandset$ | async)">
        access_time</mat-icon>
      <h6 *ngIf="!(isHandset$ | async)">{{dateTime}}</h6> -->

    </mat-toolbar>
    <div>
      <div *ngIf="page==1">
        <app-station-status></app-station-status>
      </div>
      <div *ngIf="page==3">
        <app-map></app-map>
      </div>
      <div class="content" *ngIf="page == 2">
        <ng-content></ng-content>
        <!-- <app-station-status></app-station-status> -->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>