table {
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.032);
  }
  
  .example-container {
    padding: 20px;
    overflow: auto;
  }
  
  .hedder{
    color:white;
    font-size: 16px;
  }

.tableContent{
  font-size: 16px;
}

.tableHedding{

}
  