<div class="tableContainer">
  <!-- <table id="station">
    <tr>
      <th class="link" (click)="sortDatabyName()">Station Name</th>
      <th class="link" (click)="sortDatabyactive()">Status</th>
      <th class="link" (click)="sortDatabyaTime()">Time</th>
      <th class="link" (click)="sortDatabyaTime()">Last data log</th>
    </tr>
    <tr *ngFor="let ele of tableDataSet">
      <td>{{ele.name}}</td>
      <td>
        <mat-icon style="color:green" *ngIf="ele.active == 2" class="example-icon" aria-hidden="false"
          aria-label="Example heart icon">check_circle_outline
        </mat-icon>
        <mat-icon style="color:rgb(223, 148, 10)" *ngIf="ele.active == 1" class="example-icon" aria-hidden="false"
          aria-label="Example heart icon">warning
        </mat-icon>
        <mat-icon style="color:red" *ngIf="!ele.active" class="example-icon" aria-hidden="false"
          aria-label="Example heart icon">highlight_off
        </mat-icon>

      </td>
      <td>{{ele.latTime}}</td>
      <td>{{ele.days}} Days {{ele.hours}} Hours {{ele.min}} Minute</td>
    </tr>
  </table> -->
  <!-- <app-row></app-row> -->
  <mat-grid-list cols="10" rowHeight="60px" class="headder">
    <mat-grid-tile [colspan] = 4>
      <div class="text-inside-grid">Station Name</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = 1>
      <div class="text-inside-grid">Status</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = 2>
      <div class="text-inside-grid">Time</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = 3>
      <div class="text-inside-grid">Last data log</div>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngFor="let satation of StationList; let i = index">
    <div class="separator">
      <div class="link">
        <app-row (click)="changeStation(satation.id,satation.name,satation.type)" id={{satation.id}} type={{satation.type}} name={{satation.name}} count = {{i}}></app-row>
      </div>
    </div>
  </div>
</div>