<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="tableData">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <!-- Temperature Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef class="hedder"> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
    <!-- Temperature Column -->
    <ng-container matColumnDef="WaterLevel">
      <th mat-header-cell *matHeaderCellDef class="hedder"> Water Level (ml)</th>
      <td mat-cell *matCellDef="let element"> {{element.waterLevel}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>