.inline {
  display: inline-block;
  margin: 10px 10px;
}
.headdign{
  color:#fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5px
}
